<div class="container">
  <h1 class="text-center">Side Nav</h1>
  <h2>Auto Size Toggle</h2>
  <mat-divider></mat-divider>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer1 mode="side" class="example-sidenav">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFilter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, fuga.</p>
      <button (click)="showFilter = !showFilter" mat-raised-button>
        Toggle Extra text
      </button>
    </mat-drawer>
    <mat-drawer-content class="example-sidenav-content">
      <button (click)="drawer1.toggle()" mat-raised-button>Toggle drawer</button>
    </mat-drawer-content>
  </mat-drawer-container>
</div>