.mat-drawer-container {
  width: 100%;
  height: 90vh;
}

.side-menu-toggle {
  position: fixed;
  top: 0px;
  left: -28px;
}

.side-menu-toggle-icon {
  margin-left: 20px;
}

.mat-drawer-menu {
  padding: 10px;
  width: 280px;
}