<app-main-navbar></app-main-navbar>

<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer mode="side" class="mat-drawer-menu">
    <app-side-menu></app-side-menu>
  </mat-drawer>
  <mat-drawer-content>
    <a (click)="drawer.toggle()" mat-fab class="side-menu-toggle" color="basic">
      <mat-icon class="side-menu-toggle-icon">{{drawer.opened ? 'chevron_left' : 'chevron_right'}}</mat-icon>
    </a>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>